body{
    font-family: Montserrat;
}

.product-showcase {
    background: var(--trello-com-linear-bubbles-white, linear-gradient(0deg, #E6FCFF 0%, #FFF 100%));
    display: flex; 
    justify-content: space-around; 
    padding: 20px;
    gap: 20px; 
}

.cards-container {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}

.card-title {
    color: #091E42;
    font-size: 14.75px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.33px;
}

.card-des {
    display: flex;
    height: 93.6px;
    justify-content: center;
    flex-shrink: 0;
    color: #091E42;
    font-size: 15.875px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 151.181% */
}

.card {
    padding: 20px;
    width: 400px; /* Added 'px' unit */
    flex-shrink: 0;
    border-radius: 4.8px;
    cursor: pointer; /* Pointer cursor for cards */
    transition: background 0.3s, box-shadow 0.3s; /* Smooth transition for visual effects */
}

.card.selected {
    background: var(--trello-com-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(9, 30, 66, 0.15);
    border-left: 10px solid #00C7E5;
}

.card-link {
    font-size: 14px;
    margin-top: 16px;
    color: grey; /* Default color */
    font-weight: 700;
    text-decoration: none; /* Remove underline */
}

.card.selected .card-link {
    color: #1A9FE2; /* Blue color when card is selected */
}

.video-container {
    flex: 1; /* Allows this div to grow */
    max-width: 560px; /* Sets max width for the video */
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}




.product-section{
justify-content: space-between;    
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat;
margin-left: 80px;
margin-right: 80px;
}

.product-card{
    padding:40;
    min-width: 200px;
    max-width: 480px;
    margin-right: 20px;
    flex: 1; /* Flex grow and shrink */
    height: auto;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
border-radius: 20px;
background: linear-gradient(180deg, rgba(26, 159, 226, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);
box-shadow: 0px 4px 24px 4px rgba(51, 51, 51, 0.10);   /* border-color: 4px solid black ; */
}
.product-title{
    font-family: Montserrat;
    font-size: clamp(16px, 2vw, 28px);
    font-style: normal;
    font-weight: 700;
    line-height: 39.2px;
}


.product-text{
    margin-top: 8%;
    font-family: Montserrat;
    font-size:  clamp(12px, 1.5vw, 17px);;
    font-style: normal;
    font-weight: 500;
    line-height: 30px
}

.product-btn{
    display: block;
    margin-top: 10%;
    font-size: 16px;
    font-weight:  700;
    color: #1A9FE2;
}

.testimonial-title{
text-align: center;

/* width: 425.27px; */
flex-shrink: 0;
font-family: Montserrat;
font-size: clamp(20px, 4vw, 40px);
font-style: normal;
font-weight: 700; 
}

.test-card{
    margin:20px;
    padding: 25px;
    width: 200.5px;
    
flex:1;
flex-shrink: 0;
border-radius: 20px;
background: linear-gradient(180deg, rgba(26, 159, 226, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);
box-shadow: 0px 4px 24px 4px rgba(51, 51, 51, 0.04);
}

.test-title{
    margin-top: 22px;
    font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 24px
}

.test-pic{
    margin-top: 25px;
    width: 83.213px;
height: 83.213px;
border-radius: 50%; /* Creates the circular shape */
  overflow: hidden;
/* background: url(../assets/pinterest.png); */
}

.test-name{
    margin-top: 30px;
    /* height: 61.6px; */
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.see-more{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin:20px;
    padding: 25px;
    width: 250.5px;
border-radius: 20px;
background: #1A9FE2;
box-shadow: 0px 4px 24px 4px rgba(51, 51, 51, 0.04);
}

.see-more-btn{
    color:azure;
width: 135.76px;
height: 47.2px;
background: #1A9FE2;
padding: 15px 21.257px 15.4px 21.6px;
justify-content: center;
align-items: center;
    border-radius: 30px;
border: 2px solid white;
box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.20);
}








@media screen and (max-width:560px){
    .product-section{
        justify-content: center;

    }
    .test-title{
        text-align: center;
    }
    

}